.TopHeading{
    
    text-align: center;
    align-items: center;
    
}
.TopHeading>h1{
    font-size: 80px;
    margin-bottom: 30px;
}
.TopHeading>p{
    
    font-size: 27px;
}
.TopInputNButton{
    text-align: center;
    align-items: center;
}
.Head{
    padding: 0px 110px;
    /* background-color: rgb(255, 243, 229); */
    background-image: linear-gradient(70deg,rgb(255, 247, 237),rgb(253, 238, 219));
}
.TopInputNButton>input{
    padding: 23px 0px 23px 15px;
    border-color: rgb(255, 72, 0);
   
    border-radius: 50px;
    width:45%;
    font-size: 20px;
    margin-top: 25px;
    margin-bottom: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.TopInputNButton>input::placeholder{
    font-size: 18px;
    
}
.TopInputNButton>input:focus{
    border-color: rgb(255, 72, 0);
    box-shadow: 0 0 20px 0 orangered;
}
.TopInputNButton>button{
    padding: 17px 37px;
    border-radius: 50px;
    border-color: orangered;
    background-color: rgb(255, 131, 86);
    color: white;
    font-size: 20px;
    margin-left: -190px;
    cursor: pointer;
}
.rightIcon{
    display: flex;
    margin-left: 450px;
    gap: 30px;
}
.rightIcon>p{
    margin-top: -15px;
}
/* .TopInputNButton>button{
    background-color: white;
    color: black;
} */
.TopsevenImage{
    display: flex;
    /* justify-content: space-between; */
    height: 200px;
    background-color: white;
    padding: 0px 100px;
    width: 102%;
    margin-left: -110px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
.TopsevenImage>img{
    width: 150px;
    height: 50px;
    margin-top: 60px;
    margin-left: 35px;
    
}


/*     
 */