.Happy_Customer_Reviews{
    text-align: center;
    background-color: #2c4fbf;
color: white;
padding-top: 100px;
padding-bottom: 70px;
margin-top: 100px;
}
.Happy_Customer_Reviews>h2{
    font-size: 25px;
}
/* *{
    font-family: sans;
} */
.Happy_Customer_Reviews_All_Img{
 display: flex;
text-align: center;
align-items: center;
gap: 25px;
margin-left: 120px;
margin-top: 30px;

}
.Do_It_All_With_EngageBay{
    text-align: center;
    margin-top: 50px;
}
.Do_It_All_With_EngageBay_Divs{
    display: grid;
    grid-template-columns: repeat(6,180px);
    grid-template-rows: repeat(5,180px);
    gap: 30px;
    margin-left: 140px;
    margin-top: 80px;
}

.Do_It_All_With_EngageBay_Divs>div{
    background-color:rgb(243, 248, 255);
    border-radius: 10px;
    
}
.Do_It_All_With_EngageBay_Divs>div:hover{
    padding: 10px;
    border-color: rgb(122, 43, 226);
    cursor: pointer;
}


.Do_It_All_With_EngageBay_Divs>div>img{
    width: 60px;
    margin-top: 30px;
    margin-left: 55px;
}
.Do_It_All_With_EngageBay_Divs>div>p{
    margin-top: 20px;
    color: rgb(101, 101, 101);
}
.All_In_One_CRM{
    text-align: center;
    background-color: rgb(255, 249, 243);
    height: 380px;
    padding-top: 40px;
    border-radius:10% ;
    margin-top: 60px;
    
}
.rightIcon{
    margin-top: 20px;
}
